@charset "utf-8";

*{
	list-style: none;
	text-decoration: none;
	background-color:#010081;
	color: white;
	margin: auto;
}

input:focus{
    outline: none;
  }




/* signup.php */
.title{
    text-align: center;
    margin-top: 100px;
    width: 700px;
    letter-spacing: 20px;
  }
.txt {
    text-align:center;
    margin-top: 20px;
    word-break:break-all;
    
    padding: 20px 0px 40px 0px;
    width: 990px;
    line-height: 30px;
}
.text{
    text-align: left;
    display: inline;
  }
.enter{
    display: inline;
    margin-left: 10px;
}
.input{
    padding-bottom: 20px;
    width: 990px;
    padding-top: 20px;
    padding-bottom: 20px;
}



/* 1.php */
.intro1{
    text-align: center;
    margin-top: 100px;
    width: 800px;
}

.title1 {
  text-align: left;
  width: 800px;
  margin-bottom: 10px;
}

.info1 {
    text-align: left;
    width: 800px;
}
  
.input1{
    padding-bottom: 20px;
    text-align: left;
    width: 800px;
}

.text1 {
    text-align: left;
    display: inline;
}


.id{
    display: inline;
    margin-left: 10px;
}




/* 2.php */
.intro2{
    text-align: center;
    margin-top: 100px;
    width: 800px;
}

.title2 {
  text-align: left;
  width: 800px;
  margin-bottom: 10px;
}

.info2 {
    margin-top: 20px;
    text-align: left;
    width: 800px;
}
  
.input2{
    padding-bottom: 20px;
    text-align: left;
    width: 800px;
}

.text2 {
    text-align: left;
    display: inline;
}


.pass{
    display: inline;
    margin-left: 10px;
}



/* 3.php */
.intro3{
    text-align: center;
    margin-top: 100px;
    width: 800px;
}

.title3 {
  text-align: left;
  width: 800px;
  margin-bottom: 10px;
}

.info3 {
    margin-top: 20px;
    text-align: left;
    width: 800px;
}
  
.input3 {
    padding-bottom: 20px;
    text-align: left;
    width: 800px;
}

.text3 {
    text-align: left;
    display: inline;
}


.name{
    display: inline;
    margin-left: 10px;
}

